#Chart {
	font-size: 11px;
	text-align: center;
}

ul { 
list-style: none; 
padding: 0; 
margin: 0; 
display: inline-block; 
position: absolute; 
z-index: 100; 
right: 0px; 
top: 30px; }

select { 
position: absolute; 
right: 0px; 
top: 924px; }

a:hover { c
olor: #ADDD8E; 
text-decoration: underline; }
	
h1 { 
font-size: 32px;
 margin-bottom: 0;}	
 
h2 { 
font-size: 18px; 
margin-top: 0;
 margin-bottom: 0; }
 
h4 { 
margin: 0 auto; 
font-weight: normal; 
width: 500px; }

li { text-align: left; }

li span { 
width: 50px; 
display: inline-block; 
text-align: right;
margin-right: 5px; }

.selected { 
color: #000; 
font-weight: bold; 
text-decoration: none; 
cursor: default; }

.selected:hover { 
text-decoration: none; 
color: #000; }

.notselected { 
font-weight: normal; 
text-decoration: underline; 
cursor: pointer; 
color: #91B6D4; }

.notselected:hover { 
color: #ADDD8E; }

#viz { width: 100%; }

#selectorcontainer { 
width: 1000px; 
text-align: right;
 margin: auto auto; 
 position: relative; } 
 